fasta
fastq
logs
.snakemake
bin/liftOver
bin/*Bed
bin/*Wig
bin/kmc*
data/data/t2t_cenSatAnnotation*
data/hg38.t2t-chm13-v1.0.over.chain.gz
data/chm13v1*
data/GRCh38p13*
concat
bt2_indices
mapped
KMC_db
Kmer_BigWigs
filtered
dedup
dedup_kmer
dedup_concat
Encode_BigWigs
Dedup_BigWigs
macs2
Encode_BigBeds
region_scores
